@{
    ViewBag.Title = "Geslaagd";
}

<div class="container">
    <h2>Beste @ViewBag.subscriber.firstname @ViewBag.subscriber.name</h2>
    <p>
        Wij hebben de intekening voor uw abonnement op @ViewBag.magazine.name goed ontvangen. Hieronder ziet 
        u nogmaals een overzicht van alle gegevens:
    </p>
    <p>
        <b>Adresgegevens:</b>
    </p>
    <p>
        @ViewBag.subscriber.salutation @ViewBag.subscriber.firstname @ViewBag.subscriber.name<br/>
        @ViewBag.subscriber.streetname @ViewBag.subscriber.number<br/>
        @ViewBag.subscriber.postalcode @ViewBag.subscriber.town<br/><br/>
        <b>Tel: </b> @ViewBag.subscriber.phone<br/>
        <b>Mobiel: </b> @ViewBag.subscriber.mobile
    </p>
    <p>
        U heeft zich geabbonneerd op het magazine <b>@ViewBag.magazine.name</b> van <b>@ViewBag.subscription.from</b> tot <b>@ViewBag.subscription.until</b>
    </p>
</div>